
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="wrap">
        <div class="col_1_of_login span_1_of_login">
            <h4 class="title">Khách hàng mới</h4>
            <p>Điều khoản:</p>
            <div class="button1" style="margin-top:12px;">
                <a href="/Customer/Register"><input type="submit" name="Submit" value="Tạo tài khoản"></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col_1_of_login span_1_of_login">
            <div class="login-title">
                <h4 class="title">Đăng nhập</h4>
                <div id="loginbox" class="loginbox">
                    <form action="/Customer/CheckLogin" method="post" name="login" id="login-form">
                        <fieldset class="input">
                            <p id="login-form-username">
                                <label for="modlgn_username">Email</label>
                                <input id="modlgn_username" type="text" name="email" class="inputbox" size="18" autocomplete="off">
                            </p>
                            <p id="login-form-password">
                                <label for="modlgn_passwd">Password</label>
                                <input id="modlgn_passwd" type="password" name="password" class="inputbox" size="18" autocomplete="off">
                            </p>
                            <div class="remember">
                                <p id="login-form-remember">
                                    <label for="modlgn_remember"><a href="#">Quên mật khẩu ? </a></label>
                                </p>
                                <input type="submit" name="Submit" class="button" value="Đăng nhập"><div class="clear"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

