
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="register_account">
    <div class="wrap">
        <h4 class="title">Đăng ký tài khoản</h4>
        <form role="form" action="/Customer/AddKhachhang" method="post">
            <div class="col_1_of_2 span_1_of_2">
                <div><input type="text" name="inpName" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"></div>
                <div><input type="text" name="inpEmail" value="E-Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}"></div>
                <div><input type="text" name="inpPass" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"></div>
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <div><input type="text" name="inpAdress" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}"></div>
                <div><input type="text" name="inpPhoneNumber" value="PhoneNumber" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'PhoneNumber'; }"></div>
                <div>
                    <input type="submit" style="margin-top:10px;" value="Đăng ký" class="btn btn-primary" />
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>

