@using SportShop.Entities;
@model IQueryable<Image>
<style>
    #MyModal .modal-dialog-ci {
        width: 350px !important;
        height: 150px !important;
    }
</style>
<input id="ErrorMsg" type="hidden" value="@ViewBag.ErrMsg" />
<div class="panel panel-primary">
    <div class="panel-heading">
        Ảnh chi tiết
    </div>
    <div class="panel-body">

        @if (Model != null)
        {
            <div class="row" style="margin:0;padding-bottom:10px">
                <a style="float:right;padding:10px;border:0" class="btn btn-primary" onclick="Click_BrowseServer();"><i class="fa fa-plus-circle"></i>Thêm ảnh</a>
            </div>
            <div class="row">
                @foreach (Image img in Model)
                {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style=" width:305px; height:auto;" src="@img.LinkImage" alt="Image for Product @img.ProductID">
                        <div class="caption" style="text-align:center;">
                            <button class="btn btn-primary btnDelete" id="img_@img.ImageID">Delete</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        }
    </div>
    
</div>
<script src="~/ckfinder/ckfinder.js"></script>
<script src="~/ckfinder/plugins/dummy/plugin.js"></script>
<script src="~/js/fnNotify.js"></script>
<script src="~/js/bootstrap-notify.min.js"></script>
<script src="~/ckfinder/plugins/imageresize/plugin.js"></script>
<script src="~/ckfinder/plugins/fileeditor/plugin.js"></script>
<script type="text/javascript">
    function Click_BrowseServer() {
        var finder = new CKFinder();
        //finder.basePath = '../';
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
    function SetFileField(fileUrl) {
        var prID = $("#selectProduct option:selected").val();
        $.ajax({
            method: "POST",
            url: "/admin/images/create",
            data: {
                LinkImg: fileUrl,
                ProductID: prID
            },
        }).done(function (msg) {
            $("#GridImg").html(msg);
            fnNotify($('#ErrorMsg').val());
        });
    }
</script>
<script>
    $(".btnDelete").click(function () {
        var id = $(this).attr("id").split('_')[1];
        $("#imgDelete").val(id);
        $("#MyModal").modal();

    });
    $(".cancelDelete").click(function () {
        $("#MyModal").modal('hide');
    });
    $("#btnConfirmDelete").click(function () {
        var imgID = $("#imgDelete").val();
        var prID = $("#selectProduct option:selected").val();
        $("#MyModal").modal('hide');
        $.ajax({
            method: "POST",
            url: "/admin/images/delete",
            data: {
                ImgID: imgID,
                ProductID: prID
            },
        }).done(function (msg) {
            $("#GridImg").html(msg);
            fnNotify($('#ErrorMsg').val());
        });
    });
</script>

