@using SportShop.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin-top:20px">Quản lý ảnh</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Chức năng
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div style="width:20%;float:left">
                    Sản phẩm:
                </div>
                <div style="width:60%;float:left;padding-left:15px;">
                    @if (ViewData["lstProduct"] != null)
                    {
                        IQueryable<Product> lstProduct = (IQueryable<Product>)ViewData["lstProduct"];
                        <select class="form-control" id="selectProduct">
                            @foreach (Product pr in lstProduct)
                            {
                                <option value="@pr.ProductID">@pr.ProductName</option>
                            }
                        </select>
                        
                    }
                    else
                    {
                        <span>Không có sản phẩm nào</span>
                    }

                </div>
            </div>
            
        </div>
    </div>
    <div class="modal fade" id="MyModal" role="dialog">
        <div class="modal-dialog-ci" style="margin:200px auto">
            <div class="modal-content">
                <div class="modal-body" style="padding:0;">
                    <button type="button" class="close cancelDelete" data-dismiss="modal" style="position:absolute;top:0;right:5px">&times;</button>
                    <div style="margin:0;padding:0;font-size:13px;" class="row">
                        <div style="width:100%;float:left;position:relative;padding-top:3px">
                            <div style="width:100%;float:left;position:relative;text-align:center">
                                <span style="color:#385723;font-weight:bold;font-size:16px;">Thông báo</span>
                            </div>
                            <div style="width:100%;float:left;text-align:center;padding-top:15px;">
                                <span>Bạn có chắc muốn xóa ảnh này?</span>
                                <input type="hidden" id="imgDelete" value="" />
                            </div>
                            <div style="width:100%;float:left;padding-top:15px;padding-left:100px;margin-bottom:5px;">
                                <button class="btn btn-primary" id="btnConfirmDelete" style="float:left;width:65px;margin-right:10px;">Đồng ý</button>
                                <button class="btn btn-primary cancelDelete" style="float:left;width:65px;padding:5px;">Hủy bỏ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="GridImg">
        @RenderPage("_Grid.cshtml")  ; 

    </div>
    <script>
        var prID = 0;
        $("#selectProduct").change(function () {
             prID = $("#selectProduct option:selected").val();
            $.post("/Admin/Images/ChooseProduct", { "id": prID }
                , function (data,status) {
                    $("#GridImg").html(data);

                }
            );
        });
    </script>
</div>
