@model SportShop.Entities.Color

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin-top:20px">Quản lý màu sắc</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<h3>Bạn có chắc muốn xóa màu này?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            <span>Tên màu</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> 
            @Html.ActionLink("Quay lại", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
