<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/Admin/Categories"><i class="fa fa-list-ul fa-fw"></i>Quản lý danh mục</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i>Quản lý sản phẩm<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a href="/Admin/Products">Quản lý sản phẩm</a>
                    </li>
                    <li>
                        <a href="/Admin/Brands">Quản lý nhãn hàng</a>
                    </li>
                    <li>
                        <a href="/Admin/ShoeTypes">Quản lý loại sản phẩm</a>
                    </li>
                    <li>
                        <a href="/Admin/Colors">Quản lý màu sắc sản phẩm</a>
                    </li>
                    <li>
                        <a href="/Admin/Sizes">Quản lý size sản phẩm</a>
                    </li>
                    <li>
                        <a href="/Admin/Images">Quản lý ảnh sản phẩm</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Admin/Sales"><i class="fa fa-usd fa-fw"></i>Quản lý Sale off</a>
            </li>
            @*<li>
                <a href="forms.html"><i class="fa fa-truck"></i> Quản lý giao hàng</a>
            </li>*@
            <li>
                <a href="/Admin/Hoadons"><i class="fa fa-file-text"></i> Quản lý hóa đơn</a>
                
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-user"></i> Quản lý người dùng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a href="/Admin/Users">Quản lý nhân viên</a>
                    </li>
                    <li>
                        <a href="/Admin/Khachhangs">Quản lý khách hàng</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>